body {
    background-color: #2C3639;/*vs code color #2C2C32*//*#0f1f3ced;*//* Originally black, this is the background color of the cards */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  /*Also has a link to the main pub page*/
  .logo-moriarty {
    width: 200px;
    height: 35px;
    padding-top: 8.8%;
    padding-left: 1.8%;
  }
  @media only screen and (width <= 414px) {
    .logo-moriarty{
      width: 500px ;
      height: 70px;
      padding-top: 5%;
      padding-left: 60%;
    }
  }

  .logo-m {
    display: flex;
    align-items: center;
  }
  
  .logo-m img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
    }
 
    ul {
    margin-bottom: 1rem;
    }
    
    li {
    margin-bottom: 0.5rem;
    }
    
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #1b1a1a;
      color: #333;
      text-align: center;
      padding: 20px;
    }
    




    /*HamBar*/

    .navbar__item {
      padding-bottom: 15px;
    }
    